
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --couleur-bg-header:rgb(255, 248, 248);
    --couleur-text-header: #fe4e02;
    --couleur-border-header: #fe4e02;
    --couleur-text-body: #fe4e02;
    --couleur-border-menu: #fe4e02;
}

body{
    margin: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

/* Header */
header {
    position: relative;
    top: 0vh;
    left: 0vw;
    
    width: 100%;
    max-height: 100vh;
    overflow: hidden;

    justify-content: center;
}

/* Header : Bannière */
.header-wrapper{
    justify-content: center;
    display: flex;
    padding: 10px;
    max-height: 10vh;
    background-color: var(--couleur-bg-header);
}

.header-ban-menu{
    display: none;
    width: 0%;
}

.header-ban-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-wrapper .icon{
    width: 40%;
    height: auto;  
}


/* Header : Image et onglets */

.header-main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.header-main-container div{
    display: flex;
    height: 90vh;
}

/* Header : Image */
.header-main-img-container{
    flex: 0 0 95vw;
}

.header-main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header : Onglets */

a{
 text-decoration: none;
}

.header-main-items-container{
    display: flex;
    flex-direction: column;  
}

.header-items-container{
    display: flex;
    flex: 1; 
    flex-direction: column; 
    list-style: none;   
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    width: 5vw;
}

.header-item{
    flex: 1; 
    border: 1px solid var(--couleur-border-header);
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -1px; 
}

.header-item:hover{
    background-color: rgb(223, 223, 223);
}

.header-item:first-child {
    margin-top: 0; 
}

.header-item:last-child {
    margin-top: 0; 
}

.header-item p {
    text-transform: capitalize;
    color: var(--couleur-text-header);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


/* body : images */

.titre-1{
    position: relative;
    right: 2rem;
    font-size: 12vw;
    z-index: 10;
    color: var(--couleur-text-body);
    font-family: 'Roboto', sans-serif;
    text-shadow: rgb(255, 255, 255) 3px 3px 5px;
    text-transform: capitalize;
    letter-spacing: -2px;
    text-align: right;
    margin-bottom: -5rem;
}

.body-image-container {
    position: relative;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    margin-inline: 1rem;
    
}
.body-image-container li{
    display: flex;
    width: 49%;
}

.body-image-container li div{
    width: 24vw; 
    height: 24vw;
    box-sizing: border-box;
    padding-inline: 10px;
    padding-block: 10px;
    display: flex;
}

.body-image-container li div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.black-white{
    filter: grayscale(100%);
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}



/* body : menu */

.titre-2{
    position: relative;
    right: 2vw;
    font-size: 12vw;
    z-index: 10;
    color: var(--couleur-text-body);
    font-family: 'Roboto', sans-serif;
    text-shadow: rgb(255, 255, 255) 3px 3px 5px;
    text-transform: capitalize;
    letter-spacing: -2px;
    text-align: right;
    margin-bottom: -3rem;
}

.menu-container{
    position: relative;
    left: 0px;
    width: 100%;
    padding-bottom: 20vh;
}

.row{
    display: flex;
    
}

/* body : menu-header */
.formule{
    flex:1;
    border: 1px solid var(--couleur-text-body);
    padding: 30px;
    color: var(--couleur-text-body);
    text-align: center;
}

.formule:last-child {
    margin-left: -1px;
}

.formule h3{
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.formule p{
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: 'Roboto', sans-serif;
}

/* body : menu-content */
.menu-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--couleur-border-menu);
    margin-top: -1px;
    flex: 1;
    color: var(--couleur-text-body);
}

.menu-title h3{
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: -1px;
    font-family: 'Roboto', sans-serif;
}

.menu-description{
    justify-content: center;
    flex: 1;
}

.menu-description-item{
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--couleur-border-menu);
    margin-top: -1px;
    margin-left: -1px;
    font-family: 'Roboto', sans-serif;
    color: var(--couleur-text-body);
}

.menu-price{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--couleur-border-menu);
    margin-top: -1px;
    margin-left: -1px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: var(--couleur-text-body);
    font-weight: bold;
}



/* Phone */
@media screen and (max-width: 600px) {

    /* Header : Bannière */
    .header-wrapper{
        height: 10vh;
        justify-content: space-between;
        padding: 0px;
        align-items: center;
        min-width: 100vw;
    }

    .header-ban-menu button{
        display: flex;
        border: flex;
        justify-content: right;
        background-color: transparent;
        padding: 0;
        padding-inline-end: 1rem;
        border: none;
    }

    .header-wrapper button img{
        max-width: 75%; 
        height: auto; 
        height: auto;
        display: block;
        margin-top: 0.5rem;
    }

    .header-ban-menu{
        display: flex;
        width: 15vw;
        justify-content: center;
        align-items: center;
    } 

    .header-ban-icon{
        max-width: 85vw;
        justify-content: center;
        align-items: center;
    } 

    .header-wrapper .icon{
        height: auto;  
        object-fit: contain;
        align-self: left;
        width: 65vw;
        margin-left: 10px;
    }

    .header-main-container{
        min-width: 100vw;
        display: block;
    }

    .header-main-img-container{
        min-width: 100%;
    }

    .header-main-items-container{
        visibility: hidden;
        display: none;
    }

    .body-image-container li div{
        width: 50vw; 
        height: 50vw;
        box-sizing: border-box;
        padding-inline-start: 10px;
        padding-block: 10px;
        display: flex;
    }

    .body-image-container li{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .reverse{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}